/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  /* padding: 0; */
  /* color: #f5f7fa; */
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}
