
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 1 30%;
  margin: 15px;
  background-color: #6caef0;
  border: 1px solid #ec0000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card button {
  background-color: #ec0000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card ul li button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
