nav {
  padding: 12px 20px;
  background-color: #4a86f7;
  color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #35353d;
}

h2,
li {
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
  margin-right: auto;
  margin-left: 30px;
  /* background-color: #d55a53; */
  width: 30%;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}

button {
  padding: 8px 12px;
  background-color: #d94841;
  border-radius: 10px;
  color: #f5f7fa;
  text-transform: uppercase;
  justify-self: flex-end;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #d55a53;
}

button:active {
  background-color: #cd342c;
}
