<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- Menu items, visible only if the user is logged in -->
      <ng-container *ngIf="isLoggedIn">
        <mat-list-item>
          <mat-icon>dashboard</mat-icon>
          <a mat-line routerLink="/dashboard">Dashboard</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>admin_panel_settings</mat-icon>
          <a mat-line routerLink="/admin-tab">Admin Tab</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>account_circle</mat-icon>
          <a mat-line routerLink="/profile">Profile</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>logout</mat-icon>
          <a mat-line (click)="logout()">Logout</a>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span>App Title</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>  <!-- This will render your routes -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
