<div class="container">
  <h2>Login</h2>
  <form>
    <div class="label-input">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="username" id="username" />
    </div>
    <div class="label-input">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        id="password"
      />
    </div>
    <button (click)="login()" class="login-btn">LOGIN</button>
  </form>
</div>
